<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="homepage.css" />
    <title>Conitor - Welcome to your personal Contribution Monitor</title>
  </head>
  <body>
    <section class="hero">
      <header>
        <div class="logo">
          <img src="assets/images/logo.svg" alt="conitor logo svg" />
        </div>
        <div class="quick_actions">
          <ul class="login_signup">
            <li class="login">
              <a href="#">Login</a>
            </li>
            <li class="sign_up">
              <a href="#">Sign Up</a>
            </li>
          </ul>
        </div>
      </header>
      <main class="hero_contents">
        <div class="description">
          <h1>Need to keep track of your contributions?</h1>
          <p class="short_message">
            conitor is hear to make tracking your contributions the last thing
            your need to worry about, with over
            <span class="emphasis">51769</span> satisfied Collectors and
            Participants we are proud to say we're the people's favorite when it
            comes to group savings monitoring
          </p>
          <button>Join the Club</button>
        </div>
      </main>
    </section>
  </body>
</html>
